</div>
<footer id="footer">
  <div class="centered">
	<p>{{.Site.Title}}© 2014. Все права защищены</p>
  </div>
  <div class="right">
	<p id="wasp_login">
	  <!-- разработка @roosyak -->
	</p>
  </div>
</footer>
</div>

<script type="text/javascript" src="/js/infiniteSlider.js"></script>
<script type="text/javascript" src="/js/ui.js"></script>
<script type="text/javascript" src="/js/html5.js" ></script>
<script type="text/javascript" src="/js/jqueryEasing.js"></script>
<script type="text/javascript" src="/js/jquery.knob.js"></script>
<script type="text/javascript" src="/js/chart.js"></script>
<script type="text/javascript" src="/js/contentToggler.js"></script>

<div style="position: absolute !important;"></div> 
</body>
</html>