{{ partial "header.html" . }}
<div class="div_opacity">

  <!-- about-us -->

  <!-- php/pagenav -->
  <img id="imgbg" src="/img/bg/about-us.jpeg" style="width: 1851px; height: 1041.19px; left: 0px; top: -325.5px;">
  <div id="pagenav">
    <div class="current">about-us</div>
    <div class="next"><a href="/news/">прес-релизы</a></div>
  </div>
  <section id="section" class="about-us">
    <!-- h1>
      <span>Заголовок<span style="width: 436px;"></span></span>
      <span>в два слова<span style="width: 527px;"></span></span>
    </h1 -->
    <div class="tagline right animated-line animated wasp-edit" wasp-page="about-us-top-right" wasp-grp="about-us"
      id="21">
      <h2>{{.Params.T1.title}}</h2>
      <p>{{.Params.T1.text}}</p>
    </div>

    <div class="tagline bottom animated-line animated wasp-edit" wasp-page="about-us-top-left" wasp-grp="about-us"
      id="22">
      <h2>{{.Params.T2.title}}</h2>
      {{ range .Params.T2.text}}
      <p>{{.}}</p>
      {{end}}
    </div>



    <div class="content wasp-edit" wasp-page="about-us-1" wasp-grp="about-us" id="24">
      <div>
        <p><br>
          <img src="/docs/image/Biznes-Souz-Krima(1).jpg" width="100%" alt=""><br>
          После референдума 16.03.2014 года и дальнейшего присоединения автономной республики Крым к Российской
          федерации, возникла ощутимая разница в технологиях ведения бизнеса между республикой Крым и Россией в
          различных сферах предпринимательской деятельности. Это и организационно правовые порядки и элементарные нормы,
          правила, поведение и этики деловых отношений среди партнеров, владельцев бизнеса и простых потребителей.
        </p>
        <p> </p>
        <p>Исходя из этого Общественное Движение «Бизнес Союз Крыма» в целях способствованию скорейшей интеграции
          крымского бизнеса в российский рынок, пропаганде становления и укрепления честной, здоровой конкурентной среды
          в предпринимательской деятельности Крымского региона, а также улучшения качества товаров и услуг
          предостовляемых крымскому населению, разработал проект компклесной системы мер для малого и среднего бизнеса
          Крыма.<br>
          <br>
          Самым важным для нашего бизнеса сейчас - это сплочение и объединение в различные организационные формы
          деятельности предусмотренные законами Российской Федерации такие как холдинги, альянсы, группы компаний и т.
          д., чтобы укрепить местного производителя товаров и услуг и быть конкурентно способными, как на российском так
          и на международных рынках. <br>
          Помните, наша сила в единстве!
        </p>
        <p> </p>
      </div>
    </div>


    <div class="content wasp-edit" wasp-page="about-us-2" wasp-grp="about-us" id="25">
      <div>
        <div class="img">
          <img src="/img/about_us.jpeg" alt="">
          <div></div>
        </div>
        <h3>Кто мы и чем занимаемся</h3>
        <p>«Бизнес Союз Крыма» - Общественное Движение объединившее в себе специалистов и экспертов в областях права,
          финансах, социологии, общественной деятельности, культуры, государственного управления и других сферах, для
          отстаивания законных прав и развития предпринимательской деятельности, как в Крымской Республике так и в
          других регионах Российской Федерациии.</p>
        <p>Наша деятельность направлена на создание благоприятных условий для ведения бизнеса, взаимоуважения среди
          предпринимателей и обеспечения становлению мостов взаимодействия с органами местной, региональной и
          государственной власти.<br>
          <br>
          На сегодняшний день наше Общественное Движение объединило и представляет интересы порядка 62 компаний, ведущих
          свой успешный бизнес в различных отраслях деятельности Крымского региона и число наших сторонников с каждым
          днем стремительно растет.
        </p>
      </div>
    </div>


    <div class="content wasp-edit" wasp-page="about-us-3" wasp-grp="about-us" id="26">
      <div>
        <!-- div class="img">
          <img src="/img/about_us.jpeg" alt="">
          <div></div>
        </div -->
        <h3 style="margin-right: 0">Чем может помочь сайт нашего Центра?</h3>
        <p>На сайте "Бизнес Союза Крыма" наше Общественное движение предоставляет оценку деятельности некоторых
          компаний, работающих в различных сферах бизнеса. Это поможет, как и руководителям усовершенствовать качество
          своих предприятий, так и простым потребителям лучше ориентироваться на рынке товаров и услуг Крымского
          региона.</p>
      </div>
    </div>

    <!--div class="btn-next-section">
      <a href="/operations/">
        <span class="text">
          <span class="static">База знаний</span>
          <span class="frame"></span>
        </span>
        <span class="arrow"></span>
      </a>
    </div-->
  </section>
  <!-- ./about-us -->

</div>
{{ partial "footer.html" . }}