{{ partial "header.html" . }}

<img id="imgbg" src="{{ "/img/bg/news.jpg" | relURL }}">
<div id="pagenav">
	<div class="current">news</div>
	<div class="next"><a href="{{ "law" | relURL }}">Право</a></div>
</div>

<section id="section" class="share-price">
	<div class="content tagline bottom Tahoma">
		<h1>{{.Title}}</h1>
		{{ if .Params.img }}
		<img src="{{.Params.img | relURL }}" align="right" style="max-width: 300px;">
		{{ end}}
		{{.Content}}
		<p><time datetime="{{ .PublishDate.Format " 01-02-2006 15:04:05" }}">
				{{.PublishDate.Day}}
				{{ index $.Site.Data.Months.months_rod .PublishDate.Month }}
				{{.PublishDate.Year}}
			</time></p>
	</div>
</section>
<style>
	h1 {
		padding: 1em 0;
		font-size: 1.3em;
	}
</style>
{{ partial "footer.html" . }}