{{ partial "header.html" . }}


<!-- news -->


<!-- php/pagenav -->
<img id="imgbg" src="{{ "/img/bg/news.jpg" | relURL }}">
<div id="pagenav">
	<div class="current">news</div>
	<div class="next"><a href="{{ "law/main" | relURL }}">Право</a></div>
</div>
<!-- ./php/pagenav -->

<section id="section" class="press-releases">
	<h1>
		<span>{{.Title}}<span style="width: 393px;"></span></span>
	</h1>
	<ul id="headlines-listing">
		{{ range .Pages.ByDate.Reverse }}
		<li style="width: 74.7%;">
			<div class=" content -tagline">
				<a href="{{.Permalink}}">{{.Title}}</a> &nbsp;
				<nobr>
					<font>
						<time datetime="{{ .PublishDate.Format " 01-02-2006 15:04:05" }}">
							{{.PublishDate.Day}}
							{{ index $.Site.Data.Months.months_rod .PublishDate.Month }}
							{{.PublishDate.Year}}</time>
					</font>
				</nobr>
			</div>
		</li>
		{{ end }}
	</ul>
</section>

<!-- ./news -->

{{ partial "footer.html" . }}