{{ partial "header.html" . }}

<div id="slider-container-columns">
	<ul class="slider-controls"></ul>

	<ul class="slider-arrows">
		<li class="previous"><a href="">назад</a></li>
		<li class="count"></li>
		<li class="next"><a href="">дальше</a></li>
	</ul>

	<ul class="slider-infos">
		<li id="slide-1">
			<h2>
				<span>бизнес союз </span>
				<span>крыма </span>
				<!-- span>в новых <span></span></span>
		  <span>компаниях.<span></span></span -->
			</h2>
			<h3>
				<!-- Посвящается -->
				<span class="flip-container">
					<span class="flipper">
						<span class="front">Здоровая конкуренция - креативность - прогресс</span>
						<span class="back">Объективная, честная и независимая оценка</span>
					</span>
				</span>
			</h3>
		</li>
		<!-- li id="slide-2">
		<h2><?=rand(11, 99) ?> 000</h2>
		<h3>В нашем проекте может принять участие каждый</h3>
		<ul>
		  <li> 
			<input class="knob" data-fgColor="#ef445f" data-bgColor="#384b53" data-thickness=".05" data-width="130" data-height="130" data-angleOffset="180" data-min="0" data-max="110000" readonly value="0" data-goal-value="100000">
			<span class="dummy"></span>
			<h4>Агенств</h4>
		  </li>
		  <li>
			<input class="knob" data-fgColor="#ef445f" data-bgColor="#384b53" data-thickness=".05" data-width="130" data-height="130" data-angleOffset="180" data-min="0" data-max="9300" readonly value="0" data-goal-value="1550">
			<span class="dummy"></span>
			<h4>Отзывов</h4>
		  </li>
		  <li>
			<input class="knob" data-fgColor="#ef445f" data-bgColor="#384b53" data-thickness=".05" data-width="130" data-height="130" data-angleOffset="180" data-min="0" data-max="90000" readonly value="0" data-goal-value="40000">
			<span class="dummy"></span>
			<h4>Голосов</h4>
		  </li>
		</ul>
	  </li -->
		<li id="slide-4">
			<h2>
				<span>Информация <span></span></span>
				<span>которая может <span></span></span>
				<span>быть вам полезна <span></span></span>
			</h2>
			<div class="btn-next-section">
				<a href="{{ "law" | relURL }}">
					<span class="text">
						<span class="static">материалы</span>
						<span class="frame"></span>
					</span>
					<span class="arrow"></span>
				</a>
			</div>
			<br><br>
			<div class="btn-next-section">
				<a href="{{ "news" | relURL }}">
					<span class="text">
						<span class="static">новости</span>
						<span class="frame"></span>
					</span>
					<span class="arrow"></span>
				</a>
			</div>

		</li>
		<!-- li id="slide-3">
		<canvas id="slide-3-chart" width="933" height="425"></canvas>
		<div id="slide-3-infos" >
		  <div class="value">
			<span class="trade">0.76</span>
			<span class="change">0.00 (0.00%)</span>
		  </div>
  
		  <ul>
			<li>Range <span class="range">N/A - N/A</span></li>
			<li>Mkt cap <span class="mktcap">5.7M</span></li>
			<li class="end-row">EPS <span class="eps">-0.967</span></li>
  
			<li>52 week <span class="week52">0.40 - 4.00</span></li>
			<li>Volume <span class="volume">0</span></li>
			<li class="end-row">Shares <span class="shares"></span></li>
		  </ul>
  
		  <p>Изменение тенденций качество предоставляемых услуг</p>
		</div>
	  </li -->
	</ul>

	<div class="slider">
		<div>
			<div></div>
		</div>
		<ul>
			<li data-img-src="{{ "/img/bg/home_1.jpg" | relURL }}" data-col-width="213">
				<img src="/img/home_slider-sizer.gif">
				<ul class="columns"></ul>
			</li>
			<li data-img-src="{{ "/img/bg/12115.jpg" | relURL }}" data-col-width="213">
				<img src="/img/home_slider-sizer.gif">
				<ul class="columns"></ul>
			</li>
		<!-- li data-img-src="{{ "/img/bg/home_4.jpg" | relURL }}" data-col-width="213">
		  <img src="/img/home_slider-sizer.gif">
		  <ul class="columns"></ul>
		</li>
		<li data-img-src="{{ "/img/bg/home_3.jpg" | relURL }}" data-col-width="213">
		  <img src="/img/home_slider-sizer.gif">
		  <ul class="columns"></ul>
		</li -->
		</ul>
	</div>
</div>
{{ partial "footer.html" . }}