{{ partial "header.html" . }}


<div class="div_opacity">

	<!-- law -->

	<!-- php/pagenav -->
	<img id="imgbg" src="/img/bg/123.jpg" style="width: 1851px; height: 1041.19px; left: 0px; top: -344px;">
	<div id="pagenav">
		<div class="current">law</div>
		<div class="next"><a href="/news/">прес-релизы</a></div>
	</div>
	<!-- ./php/pagenav -->

	<style>
		#section .content.tagline {
			background: #fff;
			width: 580px;
			padding-bottom: 5px;
		}

		#section .content.tagline a:hover {
			color: #c00;
		}

		#section .content.tagline * {
			color: #333;
			padding-left: 7px;
			padding-right: 7px;
		}

		.tagline p a font {
			position: absolute;
			top: -999px;
		}
	</style>
	<!-- Page Content -->
	<section id="section" class="share-price"> 
		{{ partial "law-rigth.html" .}}  

		<div class="content tagline bottom animated-line animated" >
			<a href="{{.Permalink}}">
				<h2>{{.Title}}</h2>
			</a> 
			{{.Content}}
		</div>		

	</section>

	<!-- ./law -->

	{{ partial "footer.html" . }}